:root {
  /* CSS HEX */
  --gunmetal: #292f36ff;
  --medium-turquoise: #4ecdc4ff;
  --mint-cream: #f7fff7ff;
  --bittersweet: #ff6b6bff;
  --yellow-crayola: #ffe66dff;
}

/*whole document styling*/

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: "Oxygen", sans-serif;
  color: gunmental;
  background-color: mintcream;
}

.main {
  flex: 2;
}

section {
  border: solid 1px red;
}
/*Start of header styling*/

.nav-item {
  font-family: "Bubblegum Sans", cursive;
}

/*End of header styling */

/*start page styling*/

#first-page-button {
  width: 35%;
}

.event-details-container {
  width: 50%;
}
.form-button-div {
  width: 50%;
  margin: 0;
}

/*card styling*/
.api-card {
  width: 15rem;
  margin: 10px;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Start of footer styles*/
.footer {
  padding: 10px 0;
  letter-spacing: 0.4m;
  width: auto;
  margin: auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.social-icon {
  transition: color 0.2s;
  text-decoration: none;
  font-size: 30px;
  padding: 4px;
  margin: 3px;
}

/*MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .nav-item {
    padding-bottom: 0;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .nav-item {
    text-align: center;
  }
}
